<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<form name="login" action="/login" method="post">
	<h1>Login</h1>
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="username" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus><br>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required><br>
	<input type="submit" name="login" value="Login"><br>
	<input type="submit" name="login" value="Login via Twitter">
</form>
</body>
</html>