<!DOCTYPE html>
<html>
    <head>
    <style>
        body{
        background-image: url('https://www.oakwoodmall.com/content/dam/rw-2/images/mall-images/mall-features/movies-desktop.png');
        min-height: 100%;
        background-position: center;
        background-size: cover;
        color: white;
        }
        h1{
        font-family: "Raleway", sans-serif;
        color: white; 
        }
    </style>
    </head>

    <body>
    <div id='movie' align='center'>
        <h1> Movie Recommendations </h1>
        {%for movie in movies%}
            <img src= {{movie.poster_path}}>
            <br>
            <p>Title:</p>
            {{movie.title}}
            <br>
            <p>Description:</p>
            {{movie.description}}
            <br>
            <p>Vote Average:</p>
            {{movie.vote_average}}
            <br>
        {%endfor%}
    </div>
    </body>

</html>