<!DOCTYPE html>
<html>
    <head>
    <style>
        body{
        background-image: url('https://www.oakwoodmall.com/content/dam/rw-2/images/mall-images/mall-features/movies-desktop.png');
        min-height: 100%;
        background-position: center;
        background-size: cover;
        color: white;
        }
        h1{
        font-family: "Impact", sans-serif;
        color: white; 
        font-size: 40px;
        }
        p{
            font-family: "Raleway", sans-serif;
            font-size: 18px;
        }
    </style>
    </head>

    <body>
    <div id='movie' align='center'>
        <h1> Movie Recommendations </h1>
        {%for movie in movies%}
            <img src= {{movie.poster_path}}>
            <br>
            <p>Title: {{movie.title}} </p>
            <p>Description:{{movie.description}} </p>
            <p>Vote Average:{{movie.vote_average}} </p>
            <br>
        {%endfor%}
    </div>
    </body>

</html>